.navbar-custom {
    background-color: rgb(189, 132, 63) !important;
}

.navbar-brand {
    color: aliceblue;
}

.nav-link {
    color: aliceblue;
}

.card h5 {
  text-align: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.drink-card {
    height: 370px;
}

.btn-custom {
    background-color: rgb(189, 132, 63) !important;
    color: aliceblue;
}

.register-form {
    width: 300px !important;
}

.register-btn {
    background-color: rgb(189, 132, 63);
    color: aliceblue;
}

.new-drink-container form {
    width: 450px !important;
    color: rgb(90, 57, 18);
}

.new-drink-container .form-control {
    border: 1px solid rgb(90, 57, 18);
    background-color: rgba(255, 239, 220, 0.164);
}

#drink-added {
    width: 200px;
    display: inline-block;
    height: 45px;
    align-items: center;
    padding: 9px;
}

.alert-container {
    position: absolute ;
    top: 75px;
    display: flex;
    justify-content:end;
    width: 100%;
}


.drink-video {
    width: 100%;
    max-height: 500px;
}

.card-ingredients {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-btn i {
  font-size: 24px;
  transition: color 0.2s ease;
  color: rgb(189, 132, 63) !important;
}

.custom-like-btn {
  color: rgb(189, 132, 63);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.pagination .page-item .page-link {
    color: #6c757d;
    background-color: white;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: rgb(189, 132, 63); 
    border-color: rgb(189, 132, 63);
}

.d-none {
    display: none !important;
}

.hide {
    display: none !important;
}
